*.so
*.sdf
*.lib
*.exe
*.dll
*.obj
*.pdf
*.txt
*.ilk
*.log
*.txt
*.ap_
*.d
*.DS_Store
*.opensdf
*.suo
Thumbs.db
bin/
cocos2d/cocos/platform/android/java/bin/
cocos2d/cocos/platform/android/java/gen/
cocos2d/cocos/platform/android/java/local.properties
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android/libs/
proj.android/local.properties
proj.android/obj/